* {
    padding: 0;
    margin: 0;
    vertical-align:baseline;
    list-style:none;
    border:0
}
nav#navegacao > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
  
}

#Main_container{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px;
   border: black solid 5px;
   border-radius: 5px;
    
}

#eletronicos{
    
    border:black solid 5px;
}
#hardware{
    border:black solid;
}
#programacao{
    border: black solid;
}
