@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}
*{
    padding: 0;
    margin: 0;
    vertical-align: 0;
    list-style: none; 
    border: 0;
    font-family: poppins;
}


#container_nav{
    position:relative ;
    text-align: end;
    background-image: linear-gradient(#178EF5,#17B9EB,#54b0cc);
    padding-top: 27px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#navegacao li  a{
    position: relative;
    bottom:13px;
    padding: 10px;
    color: white;
    font-size: 18px;
    margin: 0;
    background-color: #178EF5;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#header_container{
    text-align: center;
    position: relative;
    bottom: 150px;
}
#container{
    position: relative;
    bottom: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    border: black solid 1px;
    padding: 30px 20px;
    background-image:linear-gradient(#B07D62,#995c44) ;
}
.artigo1,.artigo2,.artigo3{
    border: black solid 1px;
    border-radius: 15px;
    height: 140px;
    max-width: 720px;
    background-color: #FFFf;
    padding: 20px;
    
}

img{
    position: relative;
    bottom:173px;
    left: 100px;
    max-width: 100%;
    height: auto;
}

footer{
 
    background-color: #424242;
    text-align: center;
    color: #FFFF;
    padding: 20px;
}
footer a{
    color: #54b0cc;
    display: flex;
    justify-content: center;
    align-items: center;
   
}